// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONTS
$main-font-size: 1.6rem;
