.card {

    // FUNCTIONLITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        border-radius: .5rem;
        overflow: hidden;

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, 
                    $color-orange-light, $color-orange-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, 
                    $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, 
                    $color-blue-light, $color-blue-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover; // to make the background-imgage ajdust and cover 
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        // if clip removes the radius, have to set it manually
        // border-top-left-radius: .5rem;
        // border-top-right-radius: .5rem;

        &--1 {
            background-image: linear-gradient(to right bottom, 
                $color-orange-light,
                $color-orange-dark), 
            url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
                $color-primary-light,
                $color-primary-dark), 
            url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
                $color-blue-light,
                $color-blue-dark), 
            url(../img/nat-7.jpg);
        }
    }

    &__heading {
        color: $color-white;
        font-size: 2.8rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
        position: absolute;
        top: 12rem;
        right: 3rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-orange-light, .85),
            rgba($color-orange-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85),
            rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-blue-light, .85),
            rgba($color-blue-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            margin: 0 auto;
            width: 80%;

            li {
                text-align: left;
                font-size: $main-font-size;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__price-box {
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        text-transform: uppercase;
        font-size: $main-font-size;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}